{# default / columns #}
{% set context = context ?? 'default' %}

{% set blocks = blocks ?? query.all %}

<div id="blocks" class="rich-text">
    {% for block in blocks %}

        {% set backgroundColor = block.backgroundColor ?? 'default' %}
        {% set foregroundColor = block.foregroundColor ?? 'default' %}

        {% set width = block.width ?? 'default' %}

        {% if width == 'default' and theme.defaultBlockTypeWidth[block.type.handle] is defined %}
            {% set width = theme.defaultBlockTypeWidth[block.type.handle] %}
        {% endif %}

        {% set defaultBlockWidth = theme.defaultBlockWidth %}
        {% set columnsWidth = width == 'default' ? defaultBlockWidth : block.width %}


        {% if block.type.handle == 'columns' %}
            {% set width = 'full' %}
        {% endif %}

        {% if width == 'default' %}
            {% set width = defaultBlockWidth %}
        {% endif %}

        {% set paddingsX = width == 'full'  ? '' : 'px-block' %}
        {% set paddingsY = backgroundColor == 'default' ? '' : 'py-block' %}
        {% set marginsY = block.marginsY ?? 'my-block first:mt-0' %}

        <div id="block-{{ block.id }}" class="{{ theme.stickyNavbar ? 'scroll-mt-24' }}  {{ "bg-#{backgroundColor}" }} {{ "dark:bg-#{backgroundColor}-dark" }} {{ "text-#{foregroundColor}" }} {{ "dark:text-#{foregroundColor}-dark" }} {{ marginsY }} {{ paddingsY }}">
            <div class="max-w-screen-{{ width }} mx-auto {{ paddingsX }}">
                {% include ["_blocks/#{block.type}"] with {index: loop.index} %}
            </div>
        </div>

    {% endfor %}
</div>

