{% from '_macros/lib.twig' import img %}
{% set entries = craft.entries.section('article').all %}

<div class="space-y-6">
{% for entry in entries %}
	<a class="block flex space-x-4 !no-underline border" href="{{ entry.url }}">
        <div class="flex-shrink-0">
            {% set image = entry.featuredImage.one %}
            {% if image %}
                {{ img(image, {width: 300, height: 200}) }}
            {% endif %}
        </div>
        <div class="space-y-4">
            <div class="text-2xl">
                {{ entry.title }}
            </div>
            <div>
                {{ entry.teaser }}
            </div>
            <div>
                {{ entry.postDate|datetime('short') }}
            </div>
        </div>
    </a>
{% endfor %}
</div>
