{% set entries = query.all %}
{% if entries %}
    <div class="container-{{ theme.pageWidth }} flex space-x-4 mt-16">
        {% for entry in entries %}
            {% for ancestor in entry.ancestors.all %}
                <a class="btn border border-gray-800 dark:border-gray-200 text-gray-800 dark:text-gray-200 text-base"
                   href="{{ ancestor.url }}">{{ 'Topic'|t }}: {{ ancestor.title }}</a>
            {% endfor %}
            <a class="btn border border-gray-800 dark:border-gray-200 text-gray-800 dark:text-gray-200 text-base"
               href="{{ entry.url }}">{{ 'Topic'|t }}: {{ entry.title }}</a>
        {% endfor %}
    </div>
{% endif %}
