<div class="guide-cp">
    <h1>{{ entry.title }}</h1>

    {% set query = entry.children.site('*') %}

    {% if not currentUser.can('viewPersonalGuides') %}
        {% do query.relatedTo(currentUser) %}
    {% endif %}

    {#{% set children = query.all %}

    {% if children %}
        {% for child in children %}
            <h1>{{ child.title }}</h1>
            <div><b>{{ child.teaser }}</b></div>
            <div >
                {% include 'guide/blocks.twig' with {blocks:child.guideContent.all} %}
            </div>
        {% endfor %}
        <h1>General Guide</h1>
    {% endif %}#}

    {% if entry.guideContent.count() %}


        <div><b>{{ entry.teaser }}</b></div>
        <div >
            {% include 'guide/blocks.twig' with {blocks:entry.guideContent.all} %}
        </div>

    {% else %}

        {% include  [
            "_guide/#{currentUser.preferredLanguage[:2]}/#{entry.slug}.twig",
            "_guide/#{entry.slug}.twig",
            "guide/content/#{currentUser.preferredLanguage[:2]}/#{entry.slug}.twig",
            "guide/content/#{entry.slug}.twig",
            "guide/content/de/#{entry.slug}.twig",
            ] ignore missing %}
    {% endif %}

    {% set guides = entry.includeGuides.all %}

    {% if guides %}
        <hr>
        <h2>More Info</h2>
        <ul>
            {% for guide in guides %}
                <li style="margin-top: 12px">
                    <a class="go" href="{{ cpUrl("guide/#{guide.slug}") }}" target="_blank">{{ guide.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
