{% from '_macros/lib.twig' import img %}

{% set highlightFirst = highlightFirst ?? false %}

{% if criteria.limit is not defined %}
    {% set criteria = criteria|merge({limit: theme.entriesPerIndexPage}) %}
{% endif %}


{% paginate craft.entries(criteria) as pageInfo, entries %}

<div class="max-w-screen-{{ theme.defaultIndexWidth }} space-y-block">
    {% for entry in entries %}

        {% set image = entry.featuredImage.one %}
        {% if not image %}
            {% set image = siteInfo.featuredImage.one %}
        {% endif %}

        {% set paddingLeft = '' %}
        {% if entry.level is defined and entry.level %}
            {% switch entry.level %}
            {% case 2 %}
                {% set paddingLeft = 'ml-12' %}
            {% case 3 %}
                {% set paddingLeft = 'ml-24' %}
            {% endswitch %}
        {% endif %}

        <a href="{{ entry.url }}"
           class="hover:no-underline block space-y-4 text-base pb-block border-b border-border {{ paddingLeft }}">

            {% if highlightFirst and loop.index == 1 and theme.defaultIndexFirstImageTransform and pageInfo.currentPage == 1 %}

                {% if image %}
                    {{ img(image, theme.defaultIndexFirstImageTransform, {showCopyright: false}) }}
                {% endif %}

                {{ _self.content(entry, true) }}

            {% else %}
                <div class="sm:flex sm:space-x-block">
                    {% if image %}
                        <div class="sm:shrink-0">
                            {{ img(image, theme.defaultIndexImageTransform, {showCopyright: false}) }}
                        </div>
                    {% endif %}
                    <div class="mt-4 sm:my-2">
                        {{ _self.content(entry) }}
                    </div>
                </div>
            {% endif %}
        </a>
    {% endfor %}
</div>

{% if pageInfo.totalPages > 1 %}
    {% include '_layouts/partials/pagination.twig' %}
{% endif %}

{% macro content(entry, first = false) %}
    <div class="flex flex-col justify-between h-full">
        <div class="">
            <div class="font-bold text-teaser dark:text-teaser-dark">
                {{ entry.teaser }}
            </div>
            <h2 class="text-2xl font-bold mt-block mt-2">
                {{ entry.title }}
            </h2>

            {% if first %}
                {% include "_sections/#{entry.section.handle}/card_first_content.twig" ignore missing %}
            {% endif %}

            {% include "_sections/#{entry.section.handle}/card_content.twig" ignore missing %}
        </div>

        <div class="pt-4">
            {% include "_sections/#{entry.section.handle}/card_bottom_content.twig" ignore missing %}
        </div>
    </div>
{% endmacro %}
