{% if pageInfo.totalPages > 1 %}

    <nav class="pagination" aria-label="pagination">

        {% if pageInfo.currentPage >= 5 %}
            <a class="pagination-link" href="{{ pageInfo.firstUrl }}">
                <span class="sr-only">{{ 'First page'|t }}</span>
                {{ svg('@templates/_icons/chevron-double-left.svg') }}
            </a>
        {% endif %}

        {% if pageInfo.prevUrl %}
            <span class="sr-only">{{ 'Previous page'|t }}</span>
            <a class="pagination-link" href="{{ pageInfo.prevUrl }}">{{ svg('@templates/_icons/chevron-left.svg') }}</a>
        {% endif %}


        {% for page, url in pageInfo.getPrevUrls(3) %}
            <a class="pagination-link" href="{{ url }}">{{ page }}</a>
        {% endfor %}


        <a class="pagination-link bg-primary text-secondary dark:bg-primary-dark dark:text-secondary-dark" href="#">{{ pageInfo.currentPage }}</a>


        {% for page, url in pageInfo.getNextUrls(3) %}
            <a class="pagination-link" href="{{ url }}">{{ page }}</a>
        {% endfor %}


        {% if pageInfo.nextUrl %}
            <a class="pagination-link" href="{{ pageInfo.nextUrl }}">
                <span class="sr-only">{{ 'Next page'|t }}</span>
                {{ svg('@templates/_icons/chevron-right.svg') }}
            </a>
        {% endif %}

        {% if pageInfo.currentPage < pageInfo.totalPages %}
            <a class="pagination-link" href="{{ pageInfo.lastUrl }}">
                <span class="sr-only">{{ 'Last page'|t }}</span>
                {{ svg('@templates/_icons/chevron-double-right.svg') }}
            </a>
        {% endif %}


    </nav>

{% endif %}
