{% if user.id %}
    <div style="margin-top: 32px">
        {% set entry = craft.entries.section('person').relatedTo(user).one %}

        {% if entry %}
            <a class="btn" href="{{ entry.cpEditUrl }}" target="_blank"
               style="display:block; max-width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ 'Edit Person Entry'|t }}
                "{{ entry.title }}"</a>
        {% else %}

            {% set section = craft.app.sections.sectionByHandle('person') %}
            {% set type = section.getEntryTypes()[0] %}
            {% set site = craft.app.sites.allSites[0] %}

            {% set props =  {
                sectionId: section.id,
                typeId: type.id,
                siteId: site.id,
                authorId: currentUser.id,
                userId: user.id,
                enabled: 1,
                email: user.email,
                firstName: user.firstName,
                lastName: user.lastName
            } %}

            <button class="btn dashed add icon"
                    type="button"
                    onclick="createAuthorPersonEntry({{ props|json_encode }})">
                {{ 'Create Person Entry'|t }}
            </button>

        {% endif %}
    </div>
{% else %}
    <h2>
        {{ 'Save user to enable create/edit related person entry.'|t }}
    </h2>
{% endif %}


{% js at head %}

function createAuthorPersonEntry(props) {

    // see ElementsController line 166

    element = {
        elementType: 'craft\\elements\\Entry',
        siteId: props.siteId,
        sectionId: props.sectionId,
        typeId: props.typeId,
        authorId: props.authorId,
        enabled: 1,
        userId: props.userId,
        email: props.email,
        firstName: props.firstName,
        lastName: props.lastName
    }

    console.log(element)

    Craft.sendActionRequest('POST', 'main/content/create-author-person-entry', {
        data: element,
    }).then(ev => {
        console.log(ev)
        Craft.cp.displayNotice(ev.data.message);
        const slideout = Craft.createElementEditor(this.elementType, {
            siteId: this.siteId,
            elementId: ev.data.element.id,
            draftId: ev.data.element.draftId,
        });

        slideout.on('close', () => {
            location.reload()
        });
    });


}
{% endjs %}
