{% from '_macros/lib.twig' import img %}

{% set image = themeOptions.featuredImage ?? entry.featuredImage.one %}
{% if not image and theme.useFallbackImage %}
    {% set image = siteInfo.featuredImage.one %}
{% endif %}

<div class="{{ image ? 'pt-20 pb-60' : 'py-8 mb-8' }} bg-title-bg dark:bg-title-bg-dark text-title-text dark:text-title-text-dark">
    <div class="container-{{ themeOptions.titleWidth ?? theme.titleWidth }}">

        {% include '_layouts/partials/fullwidth/includes/meta.twig' %}

        {% set teaser = themeOptions.teaser ?? entry.teaser %}
        {% if teaser %}
            <div class="mb-2 font-serif italic {{ theme.titleStyle in theme.applyTeaserStyles ? 'font-semibold text-teaser dark:text-teaser-dark' }}">
                {{ teaser }}
            </div>
        {% endif %}

        <div class=" max-w-screen-lg">
            <h1 class="text-3xl sm:text-4xl md:text-5xl font-bold tracking-wider">{{ themeOptions.title ?? entry.title }}</h1>
        </div>

        {% if entry.intro %}
            <div class="mt-12 max-w-screen-md italic font-serif text-xl sm:text-2xl leading-loose">
                {{ entry.intro }}
            </div>
        {% endif %}
    </div>
</div>


{% if image %}
    <div class="container-{{ themeOptions.titleWidth ?? theme.titleWidth }} -mt-44 mb-20">
        {{ img(image, theme.introImageTransform, {showCopyright: false}) }}
    </div>
{% endif %}

