{% embed '_members/includes/form.twig' with {useSprig: true, action: 'users/set-password'} %}
    {% block content %}
        {% import '_members/macros/forms.twig' as forms %}
        {{ hiddenInput('code', code) }}
        {{ hiddenInput('id', id) }}


        {% if errors is defined %}
            {% include '_members/includes/message.twig' with {
                type: 'error',
                message: errors|join(' ')
            } only %}
        {% endif %}

        {% if success is defined and success %}
            {% embed '_members/includes/message.twig' with {type: 'notice'} %}
                {% block message %}
                    {{ 'Your password was reset and you are logged in!'|t }}
                    <a class="underline" href="{{ siteUrl }}">
                        {{ 'Access the site with your account'|t }}</a>
                {% endblock %}
            {% endembed %}
        {% endif %}

        {{ forms.textField({
            label: 'Your New Password'|t,
            name: 'newPassword',
            type: 'password',
            required: true
        }) }}


        {{ forms.button('Submit New Password'|t, true) }}

    {% endblock %}
{% endembed %}
