{% set buttons = block.buttons.with('target').all %}

{% if buttons %}
    <div class="flex space-x-4">
        {% for button in buttons %}
            {% set target = button.target.one %}
            {% if target %}
                <a class="btn bg-{{ button.bgColor }} dark:bg-{{ button.bgColor }}-dark text-{{ button.textColor ?: 'white' }} dark:text-{{ button.textColor ?: 'black' }}-dark"
                   href="{{ target.url }}">{{ button.caption ?: target.title }}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
