{% set topic = block.topic.one %}
{% if topic %}

    {% set query = craft.entries
        .relatedTo({targetElement: topic.id, field:'topics'}) %}

    {% set entries = query
        .limit(block.limit)
    .all %}

    {% if entries %}
        <div class="space-y-6">
            {% for entry in entries %}
                <div>
                    <div class="text-sm text-muted dark:text-muted-dark mb-1">
                        {{ craft.app.formatter.asRelativeTime(entry.postDate) }}
                    </div>
                    {% if entry.teaser %}
                        <div class="text-sm text-teaser dark:text-teaser-dark">{{ entry.teaser }}</div>
                    {% endif %}
                    <div class="text-base font-semibold !no-underline">
                        {{ entry.link }}
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if query.count > block.limit %}
            <div class="mt-block">
                <a class="" href="{{ topic.url }}">{{ 'All articles on the topic'|t }} {{ topic.title }}</a>
            </div>
        {% endif %}

    {% endif %}
{% endif %}
