{% from '_macros/lib.twig' import img %}

{% set imgWidth = 800 %}

{% set imgAlign = block.align.value ?? 'imageLeft' %}
{% set aspectRatio = block.aspectRatio ?? 'auto' %}

{% if aspectRatio == 'default' %}
    {% set aspectRatio = theme.defaultAspectRatio %}
{% endif %}

{% if aspectRatio == 'fullwidth' %}
    {% set transform = {width: theme.widths['full'], height: theme.fullwidthImageHeight} %}
{% elseif aspectRatio != 'auto' %}
    {% set aspectRatio = aspectRatio|split(':') %}
    {% set height = floor(imgWidth / aspectRatio[0] * aspectRatio[1]) %}
    {% set transform = {width: imgWidth, height: height} %}
{% else %}
    {% set transform = {width: imgWidth} %}
{% endif %}


<div class="lg:flex {{ imgAlign == 'imageRight' ? 'ml:flex-row-reverse' }}">
    <div class="lg:w-1/2">
        {% set image = block.image.one %}
        {% if image %}
            <div class="">
                {{ img(image, transform) }}
            </div>
        {% endif %}
    </div>
    <div class="lg:w-1/2 mt-block  lg:mt-0 grid place-content-center">
        <div class="p-block {{ imgAlign == 'imageLeft' ? 'lg:-ml-48 border-l-8' : 'lg:-mr-48 border-r-8' }} border-primary z-10 bg-white dark:bg-dark-700">
            {% if block.heading %}
                <div class="text-xl font-bold mb-8">
                    {{ block.heading }}
                </div>
            {% endif %}
            <div>
                {{ block.text|md }}
            </div>
        </div>
    </div>
</div>
