{% set heading = heading ?? 'Dialog'|t %}
{% set xEffect = xEffect ?? '' %}

<div x-data="{ open: false }" {% block scripts %}{% endblock %}>

    <!-- Button -->
    <button class="focus:outline-none focus:ring-4 focus:ring-offset-2 focus:ring-primary"
            x-on:click="open = true"
            type="button"
            aria-label="{{ 'Play Video'|t }}">
        {% block button %}{{ 'Play Video'|t }}{% endblock %}
    </button>

    <!-- Modal -->
    <div class="fixed inset-0 overflow-y-auto z-40 "
         x-show="open"
         x-on:keydown.escape.prevent.stop="open = false"
         role="dialog"
         aria-modal="true"
         x-id="['modal-title']"
         :aria-labelledby="$id('modal-title')">

        <!-- Overlay -->
        <div x-show="open" x-transition.opacity class="fixed inset-0 bg-black/50"></div>

        <!-- Panel -->
        <div class="relative min-h-screen flex items-center justify-center p-4"
             x-show="open"
             x-transition
             x-on:click="open = false">

            <div class="relative max-w-3xl w-full bg-white border border-black overflow-y-auto"
                 x-on:click.stop
                 x-trap.noscroll.inert="open">

                {% block header %}
                    <div class="bg-primary text-secondary py-1 px-2 flex justify-between" :id="$id('modal-title')">
                        <div class="text-base">
                            {% block heading %}
                                {{ 'Dialog'|t }}
                            {% endblock %}
                        </div>
                        <button type="button"
                                aria-label="{{ 'Close'|t }}"
                                x-on:click="open = false">
                            {{ svg('@templates/_icons/close.svg') }}
                        </button>
                    </div>
                {% endblock %}

                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
