{% extends "_layouts/main.twig" %}

{% block page %}


    {% block navbarArea %}
        <div class="{{ theme.stickyNavbar ? 'sticky top-0 z-50' }} bg-nav dark:bg-nav-dark text-nav-text dark:text-nav-text-dark">
            <div class="container max-w-screen-{{ theme.headerWidth }} mx-auto  px-8">
                <div class="py-4">
                    {{ navbarHtml|raw }}
                </div>
            </div>
            {% if theme.showScrollIndicator %}
                {% include '_layouts/partials/scroll_indicator.twig' %}
            {% endif %}
        </div>
    {% endblock %}

    <main id="content" class="{{ theme.stickyNavbar ? 'scroll-mt-24' }}">
        {% block titleArea %}
            {% include "_layouts/partials/fullwidth/titlearea_#{themeOptions.titleStyle ?? theme.titleStyle}.twig" %}
        {% endblock %}

        <article>
            {% block fullContent %}
                {% block beforeContent %}{% endblock %}
                {{ block('content') }}
                {% block afterContent %}{% endblock %}
            {% endblock %}

        </article>
    </main>

    {% block footerArea %}
        <div class="mt-8 {{ theme.footerWidth != 'full' ? "container max-w-screen-#{ theme.footerWidth } mx-auto" }}  bg-footer-bg dark:bg-footer-bg-dark text-footer-text dark:text-footer-text-dark">
            <div class="container max-w-screen-{{ theme.footerInnerWidth }} mx-auto py-4 px-block {{ theme.footerBorder ? 'border-t border-footer-border dark:border-footer-border-dark' }}">
                {% include '_layouts/partials/footer.twig' %}
            </div>
        </div>
    {% endblock %}


{% endblock %}

