{# Sets a default value if not defined by the `query` input field below #}
{% set query = query ?? '' %}

{% set offset = offset ?? 0 %}
{% set limit = limit ?? theme.entriesInSearchResults %}
{% set total = total ?? (offset + limit) %}

{# Replaces only the `#results` div on keyup or when the value is changed #}
<label for="query">{{ 'Search Term'|t }}:
    <input sprig
           s-trigger="keyup changed delay:500ms"
           s-replace="#results"
           class="text-black focus:ring-primary-500 focus:border-primary-500 dark:focus:ring-offset-2 "
           type="text"
           name="query"
           id="query"
           value="{{ query }}"
           placeholder="{{ 'Search'|t }}"
           autocomplete="off"
           autofocus>
</label>


<div id="results" class="mt-block min-h-[200px] animate-fadein">
    {% if query %}
        {{ sprig.pushUrl('?query=' ~ query ~ '&total=' ~ total) }}

        {% set entryQuery = craft.entries
            .search(query)
            .orderBy('score')
            .type('not toc')
            .uri(':notempty:') %}

        {% if sprig.isInclude %}
            {% do entryQuery.limit(total) %}
        {% else %}
            {% do entryQuery.offset(offset).limit(limit) %}
        {% endif %}

        {% if not craft.app.plugins.pluginEnabled('imager-x') %}
            {% do entryQuery.with([
                ['featuredImage', {withTransforms: [theme.cardImageTransform]}]
            ]) %}
        {% endif %}

        {% set entries = entryQuery.all %}

        {% if entries|length %}

            {% include '_partials/entry_cards.twig' with {
                entries
            } only %}

            {# If the total entry count is greater than the number that has been displayed #}
            {% if entryQuery.count() > offset + entries|length %}
                {# Increments `offset` by the value of `limit` #}
                <button sprig
                        id="load-more-oob"
                        class="btn bg-primary text-secondary"
                        s-val:offset="{{ total }}"

                        {# Appends all `#results h6` elements to the `#entries` element #}
                        s-select="#entries article" s-target="#entries" s-swap="beforeend"

                        {# If this button was clicked then swap it out-of-band #}
                        {{ sprig.trigger == 'load-more-oob' ? 's-swap-oob="true"' }}>
                    {{ 'Load more'|t }}
                </button>
            {% else %}
                {# Swaps the button out-of-band with a dummy button that is hidden #}
                <button id="load-more-oob" s-swap-oob="true" style="display: none"></button>
            {% endif %}


        {% else %}
            {{ 'No results'|t }}
        {% endif %}
    {% endif %}
</div>
