{% if themeOptions.showMeta ?? false %}
    <div class="mb-8 flex flex-col sm:flex-row sm:space-x-block text-base uppercase">
        <div>
            {{ entry.postDate|date('long') }}
        </div>
        <div class="border-b-2 border-primary-400 dark:border-primary-300">

            <a class="!no-underline"
               href="{{ entry.authorPersonUrl }}">{{ 'by'|t }} {{ entry.author.fullName }}</a>
        </div>
        {% if entry.topics %}
            {% set topics = entry.topics.all %}
            {% if topics %}
                {% for topic in topics %}
                    {% for ancestor in topic.ancestors.all %}
                        <div class="border-b-2 border-primary-400 dark:border-primary-300">
                            <a class="!no-underline" href="{{ ancestor.url }}">{{ ancestor.title }}</a>
                        </div>
                    {% endfor %}
                    <div class="border-b-2 border-primary-400 dark:border-primary-300">
                        <a class="!no-underline" href="{{ topic.url }}">{{ topic.title }}</a>
                    </div>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
{% endif %}
